<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53739403864-qhljk8js9312iij8mc288fml7j7l6537.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53739403864-qhljk8js9312iij8mc288fml7j7l6537</string>
	<key>API_KEY</key>
	<string>AIzaSyAa90WL2KW5GjoJQYGH1J8tX2S9ePaf5Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>53739403864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNop</string>
	<key>PROJECT_ID</key>
	<string>nopapp-d790b</string>
	<key>STORAGE_BUCKET</key>
	<string>nopapp-d790b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53739403864:ios:092ac2c4393a17af82e82d</string>
</dict>
</plist>